<!DOCTYPE html>
<html> 
<head></head>
<body>  
<br> 
<p>There are 7 types of pollution and can cause lots of diseases cancers but we can stop that my recycling and when yous see trash just pick it up and put in the nearest trashcan.The most common types of pollotion are air, water,and land pollution. All this happens because some people are unaware and they just throw things araound becasue they think that it does not harm anyone or anything but all of these can cause diseases and some cancers so be more cautious.</p>
<br>
<p>Water pollution is not just a problem in the united states, according to the united nations, 783 million people do not have acess to clean water and around 2.5 billion people do not have acess to adquate snaitation, this helps to keep sewage and other contaminets from entering the water supply. Water pollution happens when chemicals or dangerous foreign substances are introduced to water like pesticides, fertilizer</p>
<br>
<p>Air pollution causes 1 in 8 death worldwide it accounts for about one third of deaths from stroke, chronic respritory disease, and lung cancer. Ground level ozone can trigger asthma and chronic respritory ilness also ground level ozone reduces crop growth and agricultural productivity.Globally ozone has been estimated to cause more than 11 billion dollars worth of crop damage.</p>
<br>
#<p>The world health organization estimtates that 4.6 million peopele die each year from causes directly attributable to air pollution.you can help make a difference and together we can reduce the pollution that i shappening and if the pollution keeps to increase then the the seafood we love to eat will be so polluted that we can longer eat them.</p> </p>


<!DOCTYPE html>
<html> 
<head></head>
<body>  
<br> 
<p>These are things you can do to help the enviroment always remember to reduce,reuse,recycle, The earth needs you.</p>
<br>
<p>Always recycle this helps the earth and make things reusable it also helps the air not be so polluted</p>
<br> 
<p> Convert to renewable sources of engergy such as solar, hydro (water), or air. </p>
<br>
<p> When you need to go somewhere near by, walk or ride a bike rather than driving a bike. If you are traveling somewhere out of walking distance try public transportation like buses, trains , and uber. The less amount of vehicles on the roads and highways producing exhaust the better.</p>
<br>


<!DOCTYPE html>
<html> 
<head></head>
<body>  
<br> 
<p>Gardening helps the enviroment by contributing to the number of plants and trees this is importent because plants and trees convert carbon into oxygen also trees also when you garden you provide a habitat for lots of life forms and encaurage birds and insects to thrive and reproduce.Organic gardeniing is the best gardening for the enviroment in organic gardeneing you dont use fertilizers or pesticides all you use is organic or natural products to garden.When you mowing your lawn use a cordless electrical lawn mower thos helps minimize the amount of pollution that is produced.</p>





